<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Activity 07 - Vue</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
    <p v-bind:title="greeting">
      <span v-if="name === 'Joann'">
        {{ generateGreeting() }} {{ name }}
      </span>
      <span v-else>
        Goodbye
      </span>
    </p>
    <img v-if="imageShowing" v-bind:src="imageSrc">
    <button v-on:click="toggleImage">IMG BTN</button>

    <ul>
      <li v-for="num in favNumbers">
        {{ num }}
      </li>
    </ul>
    <p>Counter: {{ counter }}</p>
    <button v-on:click="plusOne">Add one!</button>
    <button v-on:click="addMore(3)">Add three!</button>
    <button @click="randomImage">Choose!</button>
    <img v-bind:src="chosenImage" alt="Random image of the Murphy Family">
    <p>{{chosenImage}}</p>
  </div>
  <script type="text/javascript">
    const CounterApp = {
      name: "counter app",
      data() {
        return {
          laterDater: undefined,
          counter: '0',
          name: "Joann",
          greeting: this.generateGreeting(),
          favNumbers: [3, 6, 15],
          imageShowing: false,
          imageSrc: "https://picsum.photos/200/30",
          imageSrcRandom: ["./images/image1.jpg", "./images/image2.jpg",
            "./images/image3.jpg", "./images/image4.jpg", "./images/image5.jpg"
          ],
          chosenImage: "./images/image2.jpg",
        }
      },
      methods: {
        plusOne() {
          this.counter += 1
        },
        toggleImage() {
          this.imageShowing = !this.imageShowing
        },
        addMore(amt) {
          this.counter += parseInt(amt)
        },
        generateGreeting() {
          return "Hello there! "
        },
        randomImage() {
          var chosenNumber = Math.floor(Math.random() * this.imageSrcRandom.length);
          this.chosenImage = this.imageSrcRandom[chosenNumber];
        }
      }
      
    }

    Vue.createApp(CounterApp).mount('#app')
  </script>
</body>

</html>