// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'settings.responsive2';
@import 'components.content';

// Additional Variables
$basecolorgray: $gray;cd
    }

    p {
        font-size: 1.2rem;
        font-style: italic;
    }

    img {
        border-radius: 50%;
        width: 75%;
        margin: 0 auto;
        display: block;
    }
}

// Formatting for info about individual displayed in right side of card
.main-right {
    margin-top: 20px;
    padding-left: 2%;

    span {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .main-right-bottom {
        @extend %flex-row;

        p {
            padding-left: 10px;
        }
    }
}


// Formatting for iphone and smaller
body {
    @include media-query ($breakpoint) {
        main {
            width: 90%;
            border: 20px solid $basecolorgray;
            // margin-left: 5%;
        }

        .main-left {
            width: 100%;
            margin-top: 5px;
        }

        .main-right {
            margin-top: 5px;
        }
    }

    @include media-query ($breakpoint2) {
        main {
            width: 90%;
            border: 25px solid $basecolorgray;
        }

        .main-left {
            width: 30%;
            margin-top: 10px;
        }

        .main-right {
            margin-top: 10px;
            padding-left: 5%;
        }

    }
} 