@import 'settings.responsive';
@import 'settings.responsive2';

// // Variables for responsiveness
$breakpoint: "mobile";
$breakpoint2: "ipad";

// Variables for color pallet
$basecolor: rgb(68, 126, 68);
$lightbasecolor: lighten($basecolor, 50%);
$medbase: lighten($basecolor, 20%);

$basecolor2: white;

$basecolor3:rgb(112, 110, 110);
$lightbasecolor3:lighten($basecolor3, 50%);
$medbasecolor3:lighten($basecolor3, 30%);
$darkgray: darken($basecolor3, 50%);

$basecolor4: rgba(221, 48, 48, 0.836);
$medbase4: lighten($basecolor4, 10%);
$lightbase4: lighten($basecolor4, 75%);

$gradiant: rgb(176, 215, 233);
$darkgrad: darken($gradiant, 50%);
$satgrad: saturate($gradiant, 25%);





// reset default settings
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    // font-size: .9rem;
}

// Body of page
body {
    background-image: url("../images/celtic-knots2.jpg");
    background-repeat: repeat;
    background-size: 300px 100px;

    h1,
    .welcome {
        color: $basecolor4;
        text-align: center;
        padding-top: 2rem;
        font-size: 2.5rem;
        // padding-bottom: 2rem;
    }

    h2,
    .hdr2 {
        color: $basecolor;
        font-size: 2rem;
        text-align: center;
        padding-top: 2rem;
        font-size: 2rem;
    }

    h3,
    .hdr3 {
        color: $basecolor;
        font-size: 1.5rem;
        text-align: center;
        padding:2rem 0;

    }


    // header including logo and header 1
    .header {
        background: linear-gradient(50deg, $basecolor, $gradiant);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        h1 {
            font-size: 3rem;
        }

        .logo {
            width: 15%;
            margin: 1%;
        }

        .site-title {
            width: 70%;
            text-align: center;
        }
    }

    // end of header


    //   nav bar

    .nav {
        background-color: $medbasecolor3;


        .unord-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            list-style-type: none;
            min-height: 50px;

            .list {

                .list-item {
                    color: $basecolor;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: .9rem;
                    padding: .5rem .5rem;
                }

                // On hover change formatting of menu item to highlight

                .list-item:hover {
                    background-color: $basecolor;
                    color: $lightbase4;
                    border: 1px ridge $basecolor4;
                    border-radius: 20px;
                }

                // When button is clicked change formatting of menu item to highlight

                .list-item:active {
                    background-color: $lightbase4;
                    color: $lightbasecolor;
                    border: 1px ridge $basecolor;
                    border-radius: 20px;
                    text-decoration: none;
                }

                // Set format of menu item for page user is currently on.  Uses js file activePage.js to add class of "active" if page is active
                .current {
                    font-size: .9rem;
                    background-color: $basecolor4;
                    color: $lightbase4;
                    border: 1px ridge $basecolor;
                    border-radius: 20px;
                    font-weight: bold;
                    padding: .5rem .5rem;
                    text-decoration: none;
                }
            }

            // end of list
        }

        // end of unordered list

        // Perform transform on menu item on hover to enlarge the size and transition all hover formatting

        .list:hover {
            transform: scale(1.25);
            transition: all 300ms 100ms;
        }
    }

    // end of nav formatting

    main {
        width: 95%;
        background-color: $lightbasecolor3;
        margin: 0 auto;
        min-height: 50rem;
        padding-bottom: 5rem;

        .intro {
            font-size: 1em;
            text-align: center;
            color: basecolor2;
            margin: 3% 5%
        }

        // end of intro

        #app {
            button {
                border: 1px ridge $basecolor;
                font-size: 1rem;
                color: $lightbase4;
                background-color: $basecolor4;
                padding: .5rem;
                display: block;
                margin: 1rem auto;
            }



            p {
                font-size: 1.25rem;
                color: $basecolor;
                font-weight: bold;
                text-align: center;
                padding: 1rem;
            }

            .random {
                img {
                    border: 2px ridge $basecolor;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 40%;
                    padding: 10px;
                }
            }

            // end of random images

            .family {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 2rem;
    

                .familyMember {
                    border: 2px ridge $basecolor;
                    margin: 2px;
                    width: 30%;

                    img {
                        width: 100%;
                        padding: 10px;
                    }

                    h4 {
                        text-align: center;
                        padding: 1rem 0;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: none;
                        padding: 0;
                    }
                }

                .no-button {
                    background-color:  $lightbasecolor3;
                    border:none;
                    color: $lightbasecolor3;
                }
            }

            // end of members

        }

        //end of app styling 







    }

    //end of main content

    .main-blog {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        // margin: 0 0;

        .events {
            width: 20%;
            margin-left: 5%;
            padding-bottom: 3rem;

            h3,
            .hdr3 {
                color: $basecolor;
                font-weight: bold;
                font-size: 1.25rem;
                text-align: center;
                padding: 3rem 1rem 1rem 1rem;

            }

            h4 {
                color: $basecolor4
            }

        }

        .blog {
            width: 75%;

            h2,
            .hdr2 {
                color: $basecolor;
                font-size: 2rem;
                text-align: center;
                padding: 1rem;
            }


            .blog-flex-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                border: 2px dotted $darkgray;
                margin-right: 5%;


                .blog-img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 20%;
                    padding: 1rem 0rem;
                }

                .blog-txt {
                    width: 70%;
                    margin: 2% 0;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    p {
                        padding-bottom: 1rem;
                    }

                    span {
                        color: $basecolor4;
                        font-weight: bold;
                    }
                }

                // end of blog-text
            }

            // end of blog flex container
        }

        // end of blog
    }

    // end of main content for blog page

    .main-members {
        .members {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            width: 95%;
            font-size: 1rem;


            .parent {
                // margin: 5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                border: 3px solid $darkgray;
                padding: 1rem 2rem;
                margin: 2rem 2rem 0rem 2rem;


            }

            .connector {
                width: 3px;
                height: 5rem;
                border: 3px dotted $darkgray;

            }

            .children {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                margin: 0rem 2rem;
                border: 3px solid $darkgray;
            }

            article {
                border: 3px solid $basecolor4;
                border-radius: 20px;
                min-height: 10rem;
                min-width: 20rem;
                text-align: center;
                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }

            p {
                padding: .5rem;
            }

            button {
                padding: .5rem;
                background-color: $basecolor;
                color: $lightbasecolor3;
            }
        }
    }

    // end of main content for members page

    // footer
    .footer {
        color: $basecolor2;
        background: linear-gradient(50deg, $basecolor, $gradiant);
        text-align: center;
        padding: 1% 1%;
        min-height: 5rem;


        p {
            font-size: .9rem;
            margin: 0 auto;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

    }

    // end of footer

}

// end of body